[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "home/.vim/bundle/color-sampler"]
	path = home/.vim/bundle/color-sampler
	url = https://github.com/vim-scripts/Color-Sampler-Pack
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "Sublime Text 2/tumblr-themes.tmbundle"]
	path = Sublime Text 2/tumblr-themes.tmbundle
	url = https://github.com/bengold/tumblr-themes.tmbundle.git
[submodule "Sublime Text 2/Scalate.tmbundle"]
	path = Sublime Text 2/Scalate.tmbundle
	url = https://github.com/scalate/Scalate.tmbundle
