[user]
	name = Mark Wunsch
	email = mark@markwunsch.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	pretty = log --graph --oneline --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	stat = status -sb
	board = shortlog -sn
	trunk = log --first-parent --graph --oneline
	root = rev-parse --show-toplevel
[github]
	user = mwunsch
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[credential]
	helper = osxkeychain
