[user]
	name = Mark Wunsch
	email = <EMAIL>
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	pretty = log --graph --oneline --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	stat = status -sb
[github]
	user = mwunsch
	token = <TOKEN>
